{% extends "MinimumWageApp/base.html" %}
{% load static %}

{% block header %}
<script type="text/javascript" src="{% static 'MinimumWageApp/js/hide_nav_until_scroll.js' %}"></script>
<script type="text/javascript" src="{% static 'MinimumWageApp/js/landing_page.js' %}"></script>
{% endblock %}

{% block content %}
<div class="landing-page">
  <div class="container">
    <h1>The Minimum Wage Facts</h1>
    <h2>Enter Your State to find the Real Facts about the Minimum Wage</h2>
    <br/>
    <form class="vertical-center" method="POST" action="/state-search/">
      {% csrf_token %}
      {{ state_search_form.state_name.errors. }}
      <input id="{{ state_search_form.state_name.id_for_label }}" 
             name="{{ state_search_form.state_name.name }}" 
             class="form-control mr-sm-2" 
             type="search" 
             placeholder="Search for a State" 
             aria-label="Search">
      <button type="submit" class="btn btn-dark">Search</button>
    </form>
  </div>
</div>
{% endblock %}