{% extends "MinimumWageApp/base.html" %}
{% load static %}

{% block content %}
<div class="container state-page">
    <h2>A minimum wage employee working full-time in {{state_data.state_name}} makes</h2>
    <h1>{{state_data.minwage_livingcost_difference}}</h1>
    <h2>less than the annual cost of living in {{state_data.state_name}}.</h2>
    <p>
        {{state_data.state_name}}'s annual gross income for an adult is <b>{{state_data.annual_min_wage}}</b> 
        based on the hourly minimum wage of <b>{{state_data.hourly_min_wage}}</b>.

        <br/>

        In order for the minimum wage to match the cost of living, the minimum wage must be raised to 
        <b>{{state_data.hourly_living_cost}}</b> an hour.
    </p>
</div>
{% endblock %}